div {
    background-color: black;
    color: white;
    border-style: solid; 
    text-align: center;
    cursor: cell;

}
ul {
    display: inline-block;
}
img {
    border: 5px solid rgb(189, 189, 189);
  }